<launch>    
  <node type="segmentation" pkg="point_cloud_seg" name="segmentation" output="screen">
    <!-- boundaries of the virtual box -->
    <param name="x_lower_bound" value="0.5" />
    <param name="x_upper_bound" value="10" />
    
    <param name="y_lower_bound" value="-5" />
    <param name="y_upper_bound" value="5" />
    
    <param name="z_lower_bound" value="-4" />
    <param name="z_upper_bound" value="4" />

    <!-- threshold for virtual box  -->
    <param name="points_in_box_threshold" value="100" />

    <!-- pcl segmentation parameters -->
    <!-- in meters -->
    <param name="cluster_tolerance" value="0.1" />
    <param name="min_cluster_size" value="50" />
    <param name="max_cluster_size" value="100000000" />

    <!-- parameters to determine cutoffs for cluster bounding box size -->
    <param name="x_size_lim" value="1" />
    <param name="y_size_lim" value="1" />
    <param name="z_size_lim" value="3" />

    <param name="x_size_min" value="0" />
    <param name="y_size_min" value="0" />
    <param name="z_size_min" value="0" />

    <param name="bounds_passing_threshold" value="2" />

  </node>

  <include file="$(find seg_visualization)/launch/virtual_box_visualization.launch" />
  
</launch>